######################
# Maven
######################
target/

######################
# Intellij IDEA
######################
.idea
*.iml

######################
# Visual Studio Code
######################
.vscode/

######################
# Tokens
######################
tokens/
resources/

######################
# Google Credentials
######################
credentials.json

######################
# Project Keep
######################
!pom.xml
!src\main\java\com\kuflow\engine\samples\worker\
!README.md
!TUTORIAL.md
