######################
# Maven
######################
target/

######################
# Intellij IDEA
######################
.idea
*.iml

######################
# Visual Studio Code
######################
.vscode/

######################
# Tokens
######################
tokens/

######################
# Google Credentials
######################
resources/credentials.json
